body{
    background-color: #f5c48d;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    width: 100%;
}
.container{
    text-align: center;
    
}

.container p{
    font-size: 36px;
    font-weight: bold;
    color: #fff;

}

#btn{
    padding: 15px 35px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.5s ease-in ;
    box-shadow: 0px 2px 5px 5px rgba(145,145,145,0.77);
    -webkit-box-shadow: 0px 2px 5px 5px rgba(145,145,145,0.77);
    -moz-box-shadow: 0px 2px 5px 5px rgba(145,145,145,0.77);
    
}

.container input:focus{
    border: 2px solid white;    
}

#colorDisPlayBox {
    padding: 8px 5px;
    margin-bottom: 4px;
}